<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Plain console: Render and other hosts show full stack traces here (no file I/O). -->
	<property name="CONSOLE_PATTERN_PLAIN"
			  value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

	<springProfile name="render">
		<appender name="CONSOLE_RENDER" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${CONSOLE_PATTERN_PLAIN}</pattern>
			</encoder>
		</appender>
		<logger name="com.pbm5.bugtracker" level="DEBUG" additivity="false">
			<appender-ref ref="CONSOLE_RENDER"/>
		</logger>
		<logger name="org.springframework" level="INFO" additivity="false">
			<appender-ref ref="CONSOLE_RENDER"/>
		</logger>
		<logger name="org.hibernate" level="INFO" additivity="false">
			<appender-ref ref="CONSOLE_RENDER"/>
		</logger>
		<logger name="org.apache.catalina" level="INFO" additivity="false">
			<appender-ref ref="CONSOLE_RENDER"/>
		</logger>
		<logger name="org.apache.coyote" level="INFO" additivity="false">
			<appender-ref ref="CONSOLE_RENDER"/>
		</logger>
		<logger name="org.apache.tomcat" level="INFO" additivity="false">
			<appender-ref ref="CONSOLE_RENDER"/>
		</logger>
		<logger name="org.springframework.boot.web.embedded.tomcat" level="DEBUG" additivity="false">
			<appender-ref ref="CONSOLE_RENDER"/>
		</logger>
		<logger name="org.flywaydb" level="INFO" additivity="false">
			<appender-ref ref="CONSOLE_RENDER"/>
		</logger>
		<logger name="com.zaxxer.hikari" level="INFO" additivity="false">
			<appender-ref ref="CONSOLE_RENDER"/>
		</logger>
		<root level="INFO">
			<appender-ref ref="CONSOLE_RENDER"/>
		</root>
	</springProfile>

	<springProfile name="!render">
		<springProperty scope="context" name="LOG_DIR" source="logging.file.path" defaultValue="logs"/>

		<property name="LOG_PATTERN"
				  value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%logger{0}:%line] %msg%n"/>
		<property name="CONSOLE_PATTERN"
				  value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%highlight(%-5level)] [%cyan(%logger{0}:%line)] %msg%n"/>

		<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${CONSOLE_PATTERN}</pattern>
			</encoder>
		</appender>

		<appender name="APPLICATION_FILE" class="ch.qos.logback.core.FileAppender">
			<file>${LOG_DIR}/application.log</file>
			<append>true</append>
			<encoder>
				<pattern>${LOG_PATTERN}</pattern>
			</encoder>
		</appender>

		<appender name="FRAMEWORK_FILE" class="ch.qos.logback.core.FileAppender">
			<file>${LOG_DIR}/framework.log</file>
			<append>true</append>
			<encoder>
				<pattern>${LOG_PATTERN}</pattern>
			</encoder>
		</appender>

		<logger name="com.pbm5.bugtracker" level="DEBUG" additivity="false">
			<appender-ref ref="CONSOLE"/>
			<appender-ref ref="APPLICATION_FILE"/>
		</logger>

		<logger name="ROOT" level="ERROR" additivity="false">
			<appender-ref ref="APPLICATION_FILE"/>
		</logger>

		<logger name="org.springframework" level="INFO" additivity="false">
			<appender-ref ref="FRAMEWORK_FILE"/>
		</logger>

		<logger name="org.hibernate" level="INFO" additivity="false">
			<appender-ref ref="FRAMEWORK_FILE"/>
		</logger>

		<logger name="org.apache.catalina" level="INFO" additivity="false">
			<appender-ref ref="FRAMEWORK_FILE"/>
		</logger>

		<logger name="org.flywaydb" level="INFO" additivity="false">
			<appender-ref ref="FRAMEWORK_FILE"/>
		</logger>

		<logger name="com.zaxxer.hikari" level="INFO" additivity="false">
			<appender-ref ref="FRAMEWORK_FILE"/>
		</logger>

		<root level="INFO">
			<appender-ref ref="CONSOLE"/>
		</root>
	</springProfile>

</configuration>
